In [1]:
from src import *

### Основное представление таблицы, которым будем пользоваться, его нам хватит за глаза

In [2]:
common_table = Table(
    Row(dict(name='Mihail', surname='Pogosyan', university='MAI', rating=100)),
    Row(dict(name="Mihail", surname="Eskindarov", university='Financial University', rating=0)),
    Row(dict(name="Vanya", surname="Lobanov", university='Pleshka', rating=40)),
    Row(dict(name="Victor", surname="Sad", university='MSU', rating=2))
)

print(common_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |           MAI           |           100           |
         Mihail          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |
         Victor          |           Sad           |           MSU           |            2            |

### Пустая таблица

In [3]:
empty_table = Table()

### Для начала протестируем работу `save/load_table` во всех трёх типах.
## CSV
Проверим стандартный случай работы:

In [4]:
cs.save_table(common_table, 'src/data/table.csv')
new_table = cs.load_table('src/data/table.csv')
print(new_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |           MAI           |           100           |
         Mihail          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |
         Victor          |           Sad           |           MSU           |            2            |

Теперь проверим работу пустой таблицы:

In [5]:
cs.save_table(empty_table, 'src/data/empty.csv')
new_table = cs.load_table('src/data/empty.csv')
print(new_table)

Как и ожидалось, выводя пустую таблицу, мы получаем абсолютную пустоту.
Теперь посмотрим на исключительные ситуации:

In [6]:
cs.save_table(2, 'src/data/error.csv')

TypeError:

Ну, собственно говоря, двойка совсем не похожа на таблицу, а потому мы получаем ошибку.

In [ ]:
cs.save_table(common_table, 'src/data/error.txt')

Собственно, сохранить csv представление таблицы в текстовый файл оказалось не самой хорошей идеей.

## PICKLE
Проверим стандартный случай работы:

In [ ]:
pck.save_table(common_table, 'src/data/table.pickle')
new_table = pck.load_table('src/data/table.pickle')
print(new_table)

Теперь проверим работу пустой таблицы:

In [ ]:
pck.save_table(empty_table, 'src/data/empty.pickle')
new_table = pck.load_table('src/data/empty.pickle')
print(new_table)

И вновь, без сюрпризов, пустая таблица осталась пустой.
Перейдём к ошибочкам:

In [ ]:
pck.save_table('name: Sanya', 'src/data/error.pickle')

Эх, и опять ему что-то не нравится...(

In [ ]:
pck.save_table(common_table, 'src/data/error.txt')

Чтож, перейдём к последнему типу файла - текстовому...
## TXT

In [ ]:
txt.save_table(common_table, 'src/data/table.txt')
new_table = txt.load_table('src/data/table.txt')
print(new_table)

Стандартный случай вновь не даёт промах, проверим пустоту и тут:

In [ ]:
txt.save_table(empty_table, 'src/data/empty.txt')
new_table = txt.load_table('src/data/empty.txt')
print(new_table)

Проверим ошибки:

In [ ]:
txt.save_table('name: Sanya', 'src/data/error.txt')

In [ ]:
txt.load_table('src/data/error.exe')

Ну, можно попробовать и exe-шник в таблицу превратить, вдруг получится...

Самая скучная часть закончилась, теперь посмотрим, как же себя ведут базовые функции:
## BASE
Первым делом, продемонстрирую работу функций, получения новой таблицы по строкам. А также, обращу внимание на поведение функции в зависимости от значения параметра `copy_table`. В new_table получим таблицу из `[1;3) строк исходной.

In [7]:
new_table = get_rows_by_number(common_table, 1, 3)
print(new_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |

Обратите внимание, что `copy_table` по умолчанию False => мы не создаём копию исходной таблицы. Следовательно, если мы изменим `new_table`, то изменится и исходная таблица... Проверим:

In [8]:
new_table.rows[0].update(name='Slava')
print(common_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |           MAI           |           100           |
          Slava          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |
         Victor          |           Sad           |           MSU           |            2            |

Как видно, первая строка исходной таблицы изменилась. Теперь попробуем делать копию передаваемой таблицы и посмотрим, что получится.
А ну, ещё вернём Михаилу Абдурахмановичу его имя.

In [11]:
new_table.rows[0].update(name='Mihail')
new_table = get_rows_by_number(common_table, 1, 3, copy_table=True)
print(new_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |

Попробуем вновь поменять поля новой таблицы:

In [12]:
new_table.rows[0].update(name='Slava')
print(common_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |           MAI           |           100           |
         Mihail          |       Eskindarov        |  Financial University   |            0            |
          Vanya          |         Lobanov         |         Pleshka         |           40            |
         Victor          |           Sad           |           MSU           |            2            |

О чудо, в этот раз, поле исходной таблицы не поменялось!)
Теперь в темпе пробежимся по остальным функциям:
#### `get_rows_by_index`
Эта функция возвращает нам таблицу, состоящую из строк, в начале которых стоит один из переданных аргументов `*values`.

In [14]:
new_table = get_rows_by_index(common_table, 'Mihail', copy_table=True)
print(new_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |           MAI           |           100           |
         Mihail          |       Eskindarov        |  Financial University   |            0            |

#### `get_column_types`
Эта функция возвращает нам словарь, в котором прописан тип данных для каждого столбца. Значение параметра `by_number` True(False) отвечает за представление столбца числом(строкой).

In [16]:
dict1 = get_column_types(common_table)
print(dict1)
dict1 = get_column_types(common_table, by_number=False)
print(dict1)

{0: 'str', 1: 'str', 2: 'str', 3: 'int'}
{'name': 'str', 'surname': 'str', 'university': 'str', 'rating': 'int'}

В данном примере прекрасна проиллюстрирована работа параметра `by_number`.

#### `set_column_types`
Полная противоположность функции `get_column_types`. Данная функция кастует все значения столбца к типу переданному словарём (того же типа, что мы получаем в прошлом функции)

In [17]:
new_table = deepcopy(common_table)
set_column_types(new_table, dict({0: "str", 1:"str", 2:"bool", 3:"float"}))
print(new_table)

          name           |         surname         |       university        |         rating          |
         Mihail          |        Pogosyan         |            1            |          100.0          |
         Mihail          |       Eskindarov        |            1            |           0.0           |
          Vanya          |         Lobanov         |            1            |          40.0           |
         Victor          |           Sad           |            1            |           2.0           |

Третий столбец мы приводили к типу Bool, поэтому, каждая непустая строка была распознана, как True(1). А рейтинг мы кастовали к типу с плавающей точкой, что мы и получили в итоге.

#### `get_values` и `get_value`
Функция `get_values` возвращает нам значения всех строк в конкретном столбце в виде списка. Столбец может передаваться, как числом, так и названием (аналогично `by_number` из прошлых функций).
`get_value` делает то же самое, но для таблицы из одной строки, то есть возвращает не список значений, а лишь одно.

In [18]:
l1 = get_values(common_table, 1)
l2 = get_values(common_table, 'rating')
l3 = get_value(common_table, 'name')

print(l1, l2, l3, sep='\n')

['Pogosyan', 'Eskindarov', 'Lobanov', 'Sad']
[100, 0, 40, 2]
Mihail

#### `set_values` и `set_value`
Ну и последние две функции, который не возвращают значения, а наоборот их устанавливают для конкретного столбца. Параметр столбца может быть также указан, как номером, так и названием.

In [20]:
set_values(new_table, [100, 100, 100, 100], 'rating')
set_value(new_table, 'Sanya', 0)
print(new_table)

          name           |         surname         |       university        |         rating          |
          Sanya          |        Pogosyan         |            1            |           100           |
         Mihail          |       Eskindarov        |            1            |           100           |
          Vanya          |         Lobanov         |            1            |           100           |
         Victor          |           Sad           |            1            |           100           |

Как мы можем заметить, все рейтинги вузов вдруг взлетели в небеса (даже у ФУ)... А бывший глава Сухого похоже поменял имя...